h1 { 
	font-family: "Mountains of Christmas"; 
	font-size: 50px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
	color: white;
	src: local('')
} 

.headerContainer {
	text-align: center;
	padding: 2rem;
}
/* h3 { font-family: "Mountains of Christmas"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Mountains of Christmas"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Mountains of Christmas"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Mountains of Christmas"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } */